@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.container{
  padding: 96px 0;
}

img{
  width: 100%;
}

button{
  cursor: pointer;
}

.btn{
  background-color: #6415FF;
  padding: 12px 32px;
  color: white;
  border-radius: 32px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

.uni__heading{
  font-size: 48px;
  color: #243D63;
  font-weight: 900;
  letter-spacing: 1;
}

.uni__title{
  font-size: 16px;
  letter-spacing: 1.9px;
  color: #6415FF;
  margin-bottom: 32px;
  text-align: center;
}

.uni__para{
  padding-top: 16px;
  color: #7C8BA1;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
}

nav{
  height: 80px;
}

a{
  text-decoration: none;
}

li{
  list-style-type: none;
}


.row{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 80px;
}

.purple{
  color: #6415FF;
}

a:hover{
  text-decoration: underline;
  color: #5011CC;
}

/* NAV */


.nav__container{
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__wrapper{
  display: flex;
  align-items: center;
}

.logo{
  width: 56px;
  padding-right: 8px;
}

.logo__text{
  color: #242424;
  font-weight: 900;
  font-size: 24px;
  letter-spacing: 1px;
}

.nav__links {
  display: flex;
  justify-content: space-between;
}

.nav__link{
  padding-left: 32px;
  color: #243D63;
  font-size: 16px;
  font-weight: 500;
}

.nav__link--primary{
  color: white;
}

.account__log{
  display: flex;
  padding-left: 32px;
  padding-right: 24px;
}

/* HEADING */


.header__container{
  display: flex;
  margin-top: 40px;
  padding-bottom: 96px;
  align-items: center;
  justify-content: center;
}

.header__text--wrapper{
  width: 100%;
  max-width: 560px;
  padding-right: 40px;
}

.header__heading {
  font-size: 48px;
  margin-bottom: 24px;
}

.header__para{
  font-size: 18px;
  color: #243D63;
  margin-bottom: 32px;
  line-height: 1.5;
}

.header__form--wrapper{
  display: flex;
  justify-content: center;
}

.header__form{
  width: 100%;
  display: flex;
  flex-direction: row;
  border: 2px solid rgba(128, 128, 128, 0.164);
  border-radius: 56px;
  padding: 6px;
  margin-bottom: 80px;
}

.header__input{
  flex-grow: 2;
  border: none;
  margin-left: 16px;
  font-size: 16px;
  letter-spacing: 0.5px;
  font-weight: 500;
}

.header__input::placeholder{
  color: #CBD5E0;
}

.header__input:focus{
  outline: none;
}

.header__form:focus-within{
  outline: 2px solid #6415FF;
}



.trusted_customers__heading{
  color: #A0AEBF;
  font-size: 16px;
  letter-spacing: 1;
}

.trusted_customers__img{
  margin-top: 16px;
  opacity: 0.5;
}

.header__img{
  width: 100%;
}

/* FEATURES */


.features__text--wrapper{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.features__title{
  margin-bottom: 16px;
}

.features__para{
  max-width: 560px;
}

.features__items{
  display: flex;
  flex-wrap: wrap;
}

.features__item{
  display: flex;
  margin-top: 80px;
  width: 33.3%;
  padding: 0 16px;
}


.features__item--img{
  width: 100%;
  max-height: 66px;
  max-width: 66px;
  border: 1px solid rgba(128, 128, 128, 0.314);
  padding: 20px;
  border-radius: 50%;
}

.features__item--text{
  padding-left: 16px;
}

.features__item--heading{
  color: #243D63;
  font-size: 24px;
}

.features__item--para{
  padding-top: 16px;
  color: #7C8BA1;
  font-size: 16px;
  font-weight: 400;
  line-height: 2;
}

/* QUALITY WORK SECTION */


.quality_work__container{
  display: relative;
}

.quality_work__row{
  display: flex;
  align-items: center;
  height: 100%;
}

.quality_work__text{
  padding-right: 40px;
}

.quality_work__title{
  text-align: start;
}

.quality_work__para{
  margin-bottom: 24px;
}

.quality_work__img{
  height: 100%;
  width: 100%;
  max-width: 720px;
}

/* STEPS SECTION */


.steps__row{
  display: flex;
  align-items: center;
  justify-content: center;
}

.steps__img{
  height: 100%;
  width: 100%;
  max-width: 55%;
  margin-top: 80px;
  margin-right: 20px;
}

.steps__text--wrapper{
  flex-direction: column;
}

.steps__title{
  text-align: start;
}

.steps__heading{
  font-size: 48px;
  padding-bottom: 24px;
}

.steps__list--item{
  padding: 16px 0;
  display: flex;
}

.steps__list--item-number{
  color: #CBD5E0;
  padding-right: 16px;
  font-size: 32px;
  letter-spacing: 1px;
}

.steps__list--item-title{
  color: #243D63;
  font-size: 24px;
  margin-bottom: 10px;
}

.steps__list--item-para{
  color: #7C8BA1;
  line-height: 2;
  font-size: 16px;
}

/* VALUES SECTION */



.values__row{
  display: flex;
}

.values__title{
  text-align: start;
}

.values__para{
  margin-bottom: 32px;
}

.values__img{
  max-width: 560px;
}

.values__items--wrapper{
  display: flex;
  justify-content: space-between;
}

.values__item{
  margin-bottom: 32px;
}

.values__item--title{
  display: flex;
  align-items: center;
  font-size: 16px;
}

.values__item--title-img--wrapper{
  background-color: #9AE6B4;
  padding: 8px;
  border-radius: 50%;
  margin-right: 8px;
}

.values__item--title-img--wrapper svg{
  display: block;
  width: 24px;
  height: 24px;
  opacity: 0.6;
}

.bc-red{
  background-color: #FEB2B2;
}

.values__item--title-text{
  font-size: 20px;
  color: #243D63;
}

.values__item--para{
  color: #7C8BA1;
  padding-top: 16px;
  font-size: 16px;
  line-height: 1.6;
}

/* PRICING SECTION */

.pricing__text--wrapper{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.pricing__para{
  max-width: 620px;
  text-align: center;
  margin-bottom: 32px;
}

.pricing__cards{
  background-color: white;
  display: flex;
}

.pricing__card{
  text-align: center;
  width: calc(100%/3);
  border-radius: 16px;
  margin: 0 32px;
}

.bottom_space{
  margin-bottom: 16px;
}



.pricing__card--top-color-green{
  height: 8px;
  background: linear-gradient(90deg, rgba(58,178,160,1) 0%, rgba(128,229,216,1) 100%);
  border-radius: 16px 16px 0 0;
  width: 100%;
}

.gradient_green{
  background: linear-gradient(90deg, rgba(58,178,160,1) 0%, rgba(128,229,216,1) 100%);
}

.pricing__card--top-color-red{
  height: 8px;
  background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
  border-radius: 16px 16px 0 0;
  width: 100%;
}

.gradient_red{
  background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.pricing__card--top-space{
  height: 8px;
}


hr{
  border: 1px solid #CBD5E0;
}

.purple_border{
  border-top: 1px solid #667DEA;
}

.pricing__card--interval, 
.pricing__card--details-assistance,
.pricing__card--button{
  margin-bottom: 32px;
}

.pricing__card--details-title,
.pricing__card--title,
.pricing__card--button{
  margin-top: 32px;
}

.pricing__card--title{
  font-size: 24px;
}

.pricing__card--price{
  font-size: 48px;
  font-weight: 900;
  letter-spacing: -1px;
}

.pricing__card--interval{
  font-size: 16px;
  letter-spacing: 1px;
  color: #A0AEBF;
}

.pricing__card--details-title{
  font-size: 24px;
}

.pricing__card--details-templates,
.pricing__card--details-landingpages,
.pricing__card--details-internalpages,
.pricing__card--details-assistance{
  color: #7C8BA1;
  font-weight: 500;
}

.pricing__card--button{
  padding: 16px 64px;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
  border-radius: 32px;
}

.white__font--card{
  color: white;
}

.background__purple--gradient{
  background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);;
}

.button-business{
  background-color: white;
}

/* TESTIMONIALS SECTION */



.testimonials__title{
  text-align: start;
  margin-bottom: 16px;
}

.testimonials__heading{
  font-size: 48px;
}

.testimonials__para{
  margin-bottom: 32px;
}

.testimonials__row{
  display: flex;
}

.testimonials__img{
  width: 100%;
  max-width: 480px;
  margin-right: 64px;
}

.stars{
  color: #F6AD54;
  margin-bottom: 16px;
}

.review__title--1{
  font-size: 24px;
  color: #243D63;
  margin-bottom: 16px;
}

.review__para--1{
  font-size: 16px;
  letter-spacing: 0.75px;
  color: rgb(74 85 104);
  margin-bottom: 40px;
  line-height: 1.5;
}

.review__person--1{
  display: flex;
  justify-content: space-between;
}

.review__person--title--1{
  display: flex;
  align-items: center;
}

.review__person--img--1{
  width: 100%;
  max-width: 80px;
  border-radius: 50%;
  margin-right: 16px;
}

.review__person--title--name--1{
  font-size: 20px;
  color: #243D63;
  margin-bottom: 4px;
}

.review__person--title--position--1{
  color: #7C8BA1;
  font-size: 16px;
  font-weight: 500;
}

.review__person--arrows{
  display: flex;
  align-items: center;
}

.arrow__button{
  height: 48px;
  width: 48px;
  border: none;
  border-radius: 100%;
  background-color: #E2E8F0;
}

.arrow{
  width: 40%;
  color: #5011CC;
}

.review__person--divider{
  height: 30%;
  border-right: solid 0.8px rgb(226, 232, 240);
  margin: 0 10px;
}

/* CLOSING BOX */

#closing__box{
  height: 100vh;
}

.closing__box{
  margin: 2px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 90%;
  height: 320px;
  background-color: #6415FF;
  border-radius: 8px;
}

.closing__item{
  margin: 0 24px;
}

.closing__header{
  color: white;
  font-size: 40px;
  width: 720px;
  line-height: 1.25;
}

.closing__button{
  padding: 20px 40px;
  border-radius: 40px;
  color: white;
  font-size: 20px;
  font-weight: 700;
}

.closing__button--start{
  background-color: #F56565;
  border: none;
}

.closing__button--contact{
  background:none;
  border: 0.8px solid white;
}

/* FOOTER */

footer{
  width: 100vw;
  background-color: #6415FF;
}

.footer--wrapper{
  max-width: 1200px;
  margin: 0 auto;
}

.footer__main--wrapper{
  padding: 80px 0;
  display: flex;
  justify-content: space-between;
}

.footer__link--title,
.footer__link{
  color: white;
}

.footer__link--title{
  margin-bottom: 32px;
  letter-spacing: 1px;
}

.footer__link--wrapper{
  margin-bottom: 16px;
}

.footer__hr{
  border: 1px solid #732CFF;
}

.footer__credits{
  padding: 80px 0;
  display: flex;
  justify-content: space-between;
}

.footer__credits--logo{
  display: flex;
  align-items: center;
}

.footer__credits--img{
  width: 32px;
}

.footer__credits--img-text{
  color: white;
  padding-left: 8px;
  font-size: 20px;
}

.footer__credits--copyright{
  color: #CBD5E0;
  font-size: 16px;
}

.footer__credits--socials{
  display: flex;
}

.footer__credits--socials-img{
  width: 32px;
  color: black;
  background-color: white;
  border-radius: 50%;
  padding: 8px;
  margin-left: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

