@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

}

img{
  width: 100%;
}

button{
  cursor: pointer;
}

.btn{
  background-color: #6415FF;
  padding: 16px 40px;
  color: white;
  border-radius: 32px;
}

nav{
  height: 80px;
}

a{
  text-decoration: none;
}

li{
  list-style-type: none;
}


.row{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.purple{
  color: #6415FF;
}

.pt32{
  padding-top: 32px;
}

.pt80{
  padding-top: 80px;
}

/* NAV */


.nav__container{
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__wrapper{
  display: flex;
  align-items: center;
}

.logo{
  width: 72px;
  padding-right: 16px;
}

.logo__text{
  color: #242424;
  font-weight: 700;
  font-size: 32px;
}

.nav__links {
  display: flex;
  justify-content: space-between;
}

.nav__link{
  padding-left: 32px;
  color: #243D63;
  font-size: 20px;
  font-weight: 500;
}

.nav__link--primary{
  color: white;
}

.account__log{
  display: flex;
  padding-left: 32px;
  padding-right: 24px;
}

/* HEADING */

#header{
  margin: 0 32px;
}

.header__container{
  display: flex;
  margin-top: 80px;
  align-items: center;
  justify-content: center;
}

.header__text--wrapper{
  width: 100%;
  text-align: center;
  padding-right: 80px;
}

.header__heading {
  font-size: 64px;
}

.header__para{
  font-size: 22px;
  color: #243D63;
}

.header__form--wrapper{
  display: flex;
  justify-content: center;
}

.header__form{
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: row;
  border: 3px solid rgba(128, 128, 128, 0.164);
  border-radius: 56px;
  padding: 8px;
}

.header__input{
  flex-grow: 2;
  border: none;
  margin-left: 16px;
  font-size: 20px;
}

.header__input::placeholder{
  color: rgba(128, 128, 128, 0.554);
  opacity: 1;
}

.header__input:focus{
  outline: none;
}

.header__form:focus-within{
  outline: 2px solid #6415FF;
}

.header__input--btn{
  font-size: 24px;
}

.trusted_customers__heading{
  color: #A0AEBF;
  font-size: 20px;
  letter-spacing: 1px;
}

.trusted_customers__img{
  margin-top: 24px;
  opacity: 0.6;
}

/* FEATURES */
#features{
  height: 100vh;
}

.features__container{
  margin-top: 320px;
}